.idea/
.vscode/
build/
ciderpress/lib/deps/
ciderpress/lib/pwutil/config.h
ciderpress/lib/fft_wrapper/cider_fft_config.h
dist/
docs/_build
docs/_static
docs/xml
functionals/
***pycache***
*.egg-info*
*.out
*.err
*.npy
*.npz
*.hdf5
*.html
*.pth
*.dylib
*.so
*.o
*.pyc
*.png
